# Created by https://www.toptal.com/developers/gitignore/api/go

### Go ###
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Go workspace file
go.work

# Dependency directories (remove the comment below to include it)
# vendor/

# Variáveis de ambiente
.env

# Binário compilado
redirector

# IDEs
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db